.results-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.results-title {
  text-align: center;
}

.data-header {
  text-align: center;
  font-weight: 500;
}

.data-header > span {
  margin-left: 12px;
}

.recommended-stores-container {
  display: flex;
  justify-content: center;
}

.no-results {
  text-align: center;
  font-weight: bold;
  color: red;
}

.form-entry {
  margin-bottom: 20px;
}

.form-date {
  margin-bottom: 10px;
}

.form-section-title {
  margin-bottom: 5px;
}

.form-list {
  list-style: none;
  padding-left: 0;
}

.form-item {
  margin-bottom: 5px;
}
